.App {
  text-align: center;
  background-color: #080911;
}

.landing-image {
  max-width: 40vmin;
  max-height:40vmin;
  pointer-events: none;
}

.landing-image-small{
  width:20vmin;
  height:20vmin;
  max-width:100px;
  max-height:100px;
}
.App-header {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  top:0;
  position:relative;
  font-family:'Poppins', sans-serif;
}
.about-title{
  align-items:flex-end;
  display:flex;
  flex-direction:column;
}
.about-description{
  min-width:400px;
  padding:20px;
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  text-align:left;
}
.section{
  background-color: #080911;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  top:0;
  position:relative;
  font-family:'Poppins', sans-serif;
}
.footer{
  max-height:200px;
  min-height:150px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;

}
.project-tile{
  width:400px;
  padding:20px;
  border-radius: 15%;
}
.project-col{
  min-width:400;
  margin:5px;
}
.projects-container{
  align-items:center;
  display:flex;
  flex-direction: column;
}
.footer-container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-content:center;
}
.project-tiles{
  display:flex;
  flex-direction:row;
  justify-content:center;
  flex-wrap:wrap;
  align-content:flex-start;

}
.about{
  border-top: 1px solid white;
  background-color: #111214;
}
.projects{
  background-color: #111214;
}
.App-link {
  color: #61dafb;
}
.particles{
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  width:100%;
  z-index:2;
  background-color: #080911;
}
.landing-description{
 /*background-color: rgb(255, 255, 255, 0.8);*/
  display:flex;
  flex-direction:row;
  justify-content: center;
 
}
.landing-description-text{
  display:flex;
  flex-direction:column;
  justify-content: center;
  padding-left:25px;
  padding-right:25px;
  color:white;
  width:40vw;
  min-width:400px;
}
.landing-description-text-expansion{
  width:80vw;
}
.row-flex{
  display:flex;
  flex-direction: row;
  
}
.super-center{
  justify-content: center;
  align-items:center;
}
.row-left-center{
  justify-content: flex-start;
  align-items: center;
  width:100%;
  display:flex;
  flex-direction: row;
}
.company-logo{
  height:40px;
  width:40px;
  margin-right:5px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.icon-container{
  justify-content: center;
  align-items:center;
  display:flex;
  flex-direction: row;
}
.icon:hover{
  background-color:#be5e36;
}
.icon{
  background-color: white;
  padding:5px;
  display:flex;
  width:60px;
  height:60px;
  border-radius:100px;
  justify-content: center;
  align-items:center;
}
.button:hover{
  background-color:#be5e36;
}
.button{
  background-color: white;
  padding:20px;
  display:flex;
  min-width:80px;
  height:60px;
  border-radius:100px;
  justify-content: center;
  align-items:center;
  color:black;
  font-size:24px;
}
.Navbar{
  background-color:transparent;
  color:white;
  z-index:2;
  font-size:20px;
  color:white;

}
